*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
}

.boddy{
    font-family: 'Kanit', sans-serif;
    font-weight: 100;
}
.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}
a{
    font-family: 'Kanit', sans-serif;
    text-decoration: none;
    color: black;
    
}
b{
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
}
p{
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
}
.titulo{
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
}
.titulo--inicio{
    margin: 3% 0% 1% 7%;
}




/* =================================================================== */
/*          ESTILOS DE HEADER PARA TODAS LAS PAGINAS    */
/* =================================================================== */
.head{
    font-size: 30px;
    height: 130px;
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
    background-size:auto;
    font-weight: 900;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.233);    
    display: grid;
    grid-template-columns: 13fr 1fr;
    grid-template-areas: 
        "navegador logo"
    ;
}

.head ul{
    list-style: none;
}
.contenido_banner{
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "none none"
    "empecemos empecemos";
    background-image: url(../images/Banner.jpg);
    background-repeat: none;
    background-size: cover;
    background-position: 0% 60%;

    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.233);

}
/* ------------- MODIFICACIONES PARA  INICIO------------ */
                .head--inicio{
                    background-image: url(../images/bannerInicio.jpg);
                    min-height: 90vh;
                    color: rgb(252, 255, 255);
                    text-shadow: 1px 1px 1px  #00a19ec8;
                    background-position: 50% 20%;
                    background-size: cover;
                    background-repeat: none;
                    display: grid;
                    grid-template-columns: 13fr 1fr ;
                    grid-template-rows: 2fr 1fr;
                    grid-template-areas: 
                      "navegador logo"
                      "empecemos empecemos"
                      ;
                    
                }
                .head__box__empecemos{
                    grid-area: empecemos ;
                    align-self: center;
                    color: rgb(252, 255, 255);
                    text-shadow: 1px 1px 1px  #00a19ec8;
                    padding: 3%;
                }

                .head__box__nav{
                    margin-top: 35px;
                    grid-area: navegador;
                    height: 100%;
                    width: 100%;
                }
                .head__box__logo{
                    grid-area: logo;
                }

                
                .head--inicio a{
                    color: aliceblue;
                    margin: 5px;
                }
            


/* ------------------------ NAV DEL HEADER-------------------------- */
                .head_nav{
                    width: 100%;
                    font-size: 25px;
                    display: flex;
                    flex-direction: row; 
                    flex-wrap: wrap;
                    justify-content: space-around;
                    text-decoration: none;
                    align-items: center;
                    text-decoration-color: black;
                }
                .head_nav__logo{
                    margin-top: 10%;
                    height: 100px;
                }
            




    


/* =================================================================== */
/*          ESTILOS DE CONTENIDO PARA TODAS LAS PAGINAS   */
/* =================================================================== */


/* ------------- MODIFICACIONES PARA  NOSOTROS------------ */
       

/* ------------- MODIFICACIONES PARA  PREGUNTAS------------ */


/* =================================================================== */
/*          ESTILOS DE PIE PARA TODAS LAS PAGINAS   */
/* =================================================================== */

.pie{
    min-height: 50px;
    background-color: #eeeeef;
    margin-top: 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-justify: auto;
    padding: 2%;
    box-shadow: 0px 2px 6px 5px #142991b0;
}
.pie_redes, .pie_legales{
    padding-left: 7%;
}
.pie_redes__links{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}






/* =================================================================== */
/*          ESTILOS DE BOTONES  */
/* =================================================================== */

.botton{
    text-decoration: none;
    width: fit-content;
    height: fit-content;
    padding: 1%;
}
.botton:hover{
    font-size: 28px;
    transition: all 0.5s;
}
.botton--INICIO:hover{
    box-shadow: 0px 5px 5px rgba(168, 217, 223, 0.751);
    
}

.botton--nav{
    width: 100px;
    height: 100px;
    background-color: blue;
    
}

/* ------------- MODIFICACIONES PARA BOTONES DE REDES SOCICALES (PIE) ------------ */
            .botton--foto{
                background-repeat:no-repeat;
                height:60px;
                width: 60px;
                margin: 5px;
                background-position:center;
                background-size: 70%;
                margin: 10px;
                background-color: rgb(255, 255, 255);
                border-radius: 50%;
            }
            .botton--foto:hover{
                box-shadow: 0px 10px 8px rgba(168, 217, 223, 0.751);
                transition: all 0.4s;
                height:70px;
                width: 70px;
            }
/* ------------- MODIFICACIONES PARA BOTONES DE CURSOS------------ */
       .card:hover{
            background-color: #35a39c25;
       }

/* ------------- MODIFICACIONES PARA BOTON DE CONTACTO EN PAGINA PREGUNTAS ------------ */
.botton_contacto{
    
    background-color: #00A19D;
    height: fit-content;
    width: fit-content;
    text-align: center;
    text-justify: distribute;
    padding: 2%;
    border-radius: 4%;
    box-shadow: 0px 5px 5px rgba(57, 57, 128, 0.751);
    margin-left: 1%;
    font-size: 20px;
    font-weight: bold;  
}

.botton_contacto a{
    width: 100%;
    height: 30px;
    color: rgba(240, 248, 255, 0.905);
}





/* ------------- MODIFICACIONES PARA BOTON A CURSOS (HEADER DEL INICIO) ------------ */
.botton--empecemos{
    background-color: #00A19D;
    height: fit-content;
    width: fit-content;
    text-align: center;
    text-justify: distribute;
    padding: 2%;
    border-radius: 4%;
    box-shadow: 0px 5px 5px rgba(57, 57, 128, 0.751);
    margin-left: 1%;
    font-size: 20px;
    font-weight: bold;  
}

.botton--empecemos a{
    color: rgba(240, 248, 255, 0.905);
}

.botton--empecemos:hover{
    font-size: 30px;
    transition: all 0.4s;
}



.botton--instagram{
    background-image: url(../images/instagram-01.png);
}
.botton--facebook{
    background-image: url(../images/FACEBOOK-01.png);
}

.botton--inicio{
    background-image: url(../images/LOGO.png);
}
.botton--youtube{
    background-image: url(../images/wpp-01.png);
}
.contenido_banner .head__box__logo, .fa-solid{
    display: none ;
}

 .botton-cruz{ 
    display:none ;
}
a .fa-bars{
    display: none;
}





@media screen and (max-width:1023px) {
    
    .contenido_banner .head__box__logo, .contenido_banner .bottonSideBar,.botton-cruz {
        display: block;
    }
    a .fa-bars{
        display: block;
    }


   
    /* =========================BANER PARA TODAS LAS PAGINAS MENOS EL INDEX============================== */
            .contenido_banner{
                height: 50vh;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                grid-template-areas: 
                "sideBut logo"
                "empecemos empecemos";
                background-image: url(../images/Banner.jpg);
                background-repeat: none;
                background-size: cover;
                background-position: 57% 60%;
                box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.233);
            }
            .head_nav{
                display: flex;
                height: 80vh;
                justify-self: space-around;
                flex-direction: column;
                align-items: baseline;
                margin-top: 30% ;
                
            }
            .head_nav a{
                color: black; 
            }


    /* =========================SIDE BAR PARA TODAS LAS PAGINAS============================== */   
            .botton__sideBar{
                grid-area: sideBut;
            }

            .contenido_banner .head__box__logo{
                grid-area: logo;
                justify-self: end;
            }   
            #BAR{
                height: 100vh;
                min-width: 30vh;
                max-width: 40vh;
                position: fixed;
                background-color: #eeeeef;
                display: flex;
                flex-direction: column;
                transform: translateX(-150%);
                transition: all 0,5s;
                z-index: 1;
            }
            #BAR:target{
                transform: translateX(0%);
                transition: all 0.5s;
            }

    /* =========================BANER PARA TODAS LAS PAGINAS============================== */      
            .head .head__box__logo{
                display: none;
            }
            #head__box__logo--INDEX{
                display: block;
            }
            nav .botton{
                padding: 10%;
            }
            nav .botton:hover{
                border-left: 5px solid rgb(198, 237, 249);
                box-shadow: none;
            }
            .fa-bars, .fa-solid {
                display:block;  
                font-size: 70px;
                margin: 5%;     
            }
    
    /* =========================HEAD UNICAMENTE PARA EL INDEX============================== */
    .head--inicio{
        min-height: 50vh;
        display: grid;
        grid-template-areas: 
        "none logo"
        "empecemos empecemos"
        ;  
        z-index: 1;
    }
    .head__box__nav{
    
        position:fixed;
        width: fit-content;
        height: auto;
        text-shadow: none;
        top: 0%; 
        margin-top: 0%;

    }

     /* =========================MODIFICACIONES PARA LOS PIE DE TODAS LAS PAGINAS============================== */   
                .pie{
                    display: flex;
                    flex-direction: column;
                }
                .pie_redes, .pie_legales{
                    padding-top: 7%;
                }
     
}









