


/* =================================================================== */
/*          ESTILOS DE PIE PARA TODAS LAS PAGINAS   */
/* =================================================================== */

.pie{
    min-height: 50px;
    background-color: #eeeeef;
    margin-top: 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-justify: auto;
    padding: 2%;
    box-shadow: 0px 2px 6px 5px #142991b0;
}
.pie_redes, .pie_legales{
    padding-left: 7%;
}
.pie_redes__links{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}





.botton--instagram{
    background-image: url(../images/instagram-01.png);
}
.botton--facebook{
    background-image: url(../images/FACEBOOK-01.png);
}

.botton--inicio{
    background-image: url(../images/LOGO.png);
}
.botton--youtube{
    background-image: url(../images/wpp-01.png);
}
